# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
*.ipa

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*
